{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block main %}
    <main class="container mt-5">
        <h1 class="text-center my-3 display-5">Nouveau mot de passe</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{ form_start(resetForm) }}
                    <div class="mb-3">
                        <label for="change_password_form_plainPassword_first">Nouveau mot de passe</label>
                        <div class="text-danger">{{ form_errors(resetForm.plainPassword.first) }}</div>
                        {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="change_password_form_plainPassword_second">Confirmation du nouveau mot de passe</label>
                        <div class="text-danger">{{ form_errors(resetForm.plainPassword.second) }}</div>
                        {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary">
                    </div>
                {{ form_end(resetForm) }}          
            </div>
        </div>
    </main>

{% endblock %}
