{% extends "themes/base_admin.html.twig" %}

{% block title %}Le blog de Jean Dupont - Admin - Liste des commentaires{% endblock %} 

{% block description %}Le blog de Jean Dupont - Admin - Liste des commentaires{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des commentaires</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Utilisateur</th>
                    <th>Article</th>
                    <th>Activé ?</th>
                    <th>Content</th>
                    <th>Créé le</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{comment.id}}</td>
                        <td>{{comment.user.firstName}} {{comment.user.lastName}}</td>
                        <td>{{comment.post.title}}</td>
                        <td>
                        {% if comment.isActivated %}
                            <span>Activé</span>
                        {% else %}
                            <span>Désactivé</span>
                        {% endif %}
                                   <form action="{{path('admin.comment.activate', {'id':comment.id})}}" method="POST">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token('comment_activate_'~comment.id)}}">
                                    <input {{comment.isActivated ? 'checked' : '' }} onclick="return confirm('Confirmer cette action ?');" onchange="this.form.submit();" class="form-check-input" type="checkbox" role="switch" id="switch_{{comment.id}}">
                                    <label class="form-check-label" for="switch_{{comment.id}}"></label>
                                </div>
                            </form>
                            
                        </td>
                        <td class="text-center">
                            <a title="Lire" href="#" class="btn-dark" data-bs-toggle="modal" data-bs-target="#modal_{{comment.id}}"><i class="fa-solid fa-eye"></i></a>

                            <!-- Modal -->
                            <div class="modal fade" id="modal_{{comment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                                            <h2 class="modal-title fs-5">Commentaire de {{comment.user.firstName}} {{comment.user.lastName}}</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>Article</strong> : {{comment.post.title}}</p>
                                            <p class="my-2"><strong>Commentaire</strong> : 
                                                {{comment.content|nl2br}}
                                            <p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{comment.createdAt|date('d-m-y')}}</td>
                        <td>
                            <a onclick="event.preventDefault(); return confirm('Confirmer la suppression de ce commentaire ?') && document.querySelector('#form_delete_comment_{{comment.id}}').submit();" title="Supprimer" href="#" class="text-danger m-2"><i class="fa-solid fa-trash-can"></i></a>
                            <form method="POST" id="form_delete_comment_{{comment.id}}" action="{{path('admin.comment.delete', {'id': comment.id})}}">
                                <input type="hidden" name="csrf_token" value="{{csrf_token('delete_comment_'~comment.id)}}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}