<nav class="navbar navbar-expand-lg ">
	<div class="container-lg">
		<a class="navbar-brand" href="{{ path('visitor.welcome.index') }}">JD</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('visitor.welcome.index') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('visitor.welcome.index')}}#about-me">Qui suis-je</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
            <ul class="navbar-nav ms-auto">
				{% if app.user %}
					{% if "ROLE_ADMIN" in app.user.roles %}
						<li class="nav-item">
							<a class=" my-2 my-lg-0 btn btn-outline-primary mx-lg-2 shadow" href="{{ path('admin.home.dashboard') }}">Espace admin</a>
						</li>
					{% endif %}
					{% if "ROLE_USER" in app.user.roles %}
						<li class="nav-item">
							<a class=" my-2 my-lg-0 btn btn-outline-primary mx-lg-2 shadow" href=>Espace privé</a>
						</li>
					{% endif %}
					
					<li class="nav-item">
						<a class=" my-2 my-lg-0 btn btn-outline-primary mx-lg-2 shadow" href="{{ path('app.logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class=" my-2 my-lg-0 btn btn-outline-primary mx-lg-2" href="{{ path('visitor.authentication.login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class=" my-2 my-lg-0 btn btn-primary mx-lg-2" href="{{ path('visitor.registration.register') }}">Inscription</a>
					</li>					
				{% endif %}
				
			</ul>
		</div>
	</div>
</nav>
