{% set pathInfo = app.request.pathInfo %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('visitor.welcome.index') }}">JD</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link {{pathInfo == path('user.home.index') ? 'active' : '' }}" {{pathInfo == path('user.home.index') ? 'aria-current="page"' : '' }} href="{{ path('user.home.index') }}">Espace</a>
				</li>
                <li>
					<a class="nav-link {{pathInfo == path('user.profile.index') ? 'active' : '' }}" {{pathInfo == path('user.profile.index') ? 'aria-current="page"' : '' }} href="{{ path('user.profile.index') }}">Mon profil</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class=" my-2 my-lg-0 nav-link mx-lg-2 shadow" href="{{ path('admin.home.dashboard') }}">Espace admin</a>
                    </li>
                {% endif %}              				
                <li class="nav-item">
                    <a class=" my-2 my-lg-0 nav-link mx-lg-2 shadow" href="{{ path('visitor.welcome.index') }}">Retour au site</a>
                </li>
                <li class="nav-item">
                    <a class=" my-2 my-lg-0 nav-link mx-lg-2 shadow" href="{{ path('app.logout') }}">Déconnexion</a>
                </li>
			</ul>
		</div>
	</div>
</nav>