{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Le blog sur la santé - {{post.title}} {% endblock %}

{% block fontAwesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}
	<main>
		<div class="jd-container my-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('visitor.blog.index')}}">Liste des articles</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">{{post.title|u.truncate('50', '...')}}</li>
				</ol>
			</nav>

			<div class="text-center">
				<h1  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="display-5 my-3 mt-3">{{post.title}}</h1>
				{% if post.image %}
					<img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="img-fluid w-100 h-100" alt="{{ post.title }}">
				{% else %}
					<img src="{{asset('images/visitor/blog/image_default.jpg')}}" class="w-100 h-100 rounded" alt="Pas d'image dans cette article">
				{% endif %}
			</div>
			<div class="text-center my-3">
				<p>
					<small>Publié
						{{post.publishedAt | ago}}
						par Jean Dupont</small>
				</p>
			</div>
			<article class="my-5">
				{{post.content|raw}}

                <a id="like-link" href="{{ path('visitor.blog.post.like', {'id': post.id, 'slug': post.slug}) }}">
                    {% if app.user and post.isLikedBy(app.user) %}
                        <i class="fa-solid fa-thumbs-up"></i>  {# Pouce liké #}
                    {% else %}
                        <i class="fa-regular fa-thumbs-up"></i> {# Pouce non liké #}
                    {% endif %}

                    <span id="total-likes-container">{{ post.postLikes|length }}</span>
                    <span>J'aime</span>
                </a>
			</article>

            {% if app.user %}
                <div class="my-3" id="comment-box">
                    {{form_start(form, {'action': path('visitor.blog.post.show', {'id':post.id, 'slug':post.slug})~"#create-comment-box"})}}
                    <div class="mb-3">
                        <div class="text-danger">{{form_errors(form.content)}}</div>
                        {{form_widget(form.content, {'attr': {'class':'form-control', 'placeholder': 'Laissez un commentaire...', 'rows': 4}}) }}
                    </div>
                    <div>
                        <input data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" formnovalidate type="submit" class="btn btn-primary" value="Commentez">
                    </div>
                    {{form_end(form)}}
                </div>
            {% else %}
                <div class="text-center">
                <p>Veuillez vous connecter pour laisser un commentaire.</p> 
                <a class="btn btn-outline-primary" href="{{path('visitor.authentication.login')}}">Se connecter</a> 
                <a class="btn btn-primary" href="{{path('visitor.registration.register')}}">S'inscrire</a>
                </div>
            {% endif %}
            

			<div class="my-5">
                {% set count = 0 %}
                {% if post.comments is not empty %}
                    {% for comment in post.comments %}
                        {% if comment.isActivated %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if count <= 0 %}
                        <p class="text-center mt-3">Aucun commentaire laissé pour cet article</p>
                    {% else %}
                        {% for comment in post.comments|reverse %}
                            {% if comment.isActivated %}
                                <div class="m-3 p-2 border shadow">
                                    <p><strong>{{comment.user.firstName}} {{comment.user.lastName}}</strong> {{ 'ROLE_SUPER_ADMIN' in comment.user.roles ? '<span class="badge text-bg-success">Auteur</span>' : ''}} <small>({{comment.createdAt|ago}})</small></p>
                                    <p>{{comment.content|nl2br}}</p>
                                </div>
                            {% endif %}
                            <hr>
                        {% endfor %}
                    {% endif %}
                    
                {% endif %}
                
            </div>
		</div>
	</main>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        $(document).ready(function(){
            $("#like-link").on("click", function(event) {

                event.preventDefault();

                $.ajax({
                    url: this.href,
                    type: "GET",
                    success: function (response) {
                        $("#total-likes-container").html(response.totalLikes);

                        if($('i').hasClass('fa-regular'))
                        {
                            $('i').removeClass('fa-regular');
                            $('i').addClass('fa-solid');
                        }
                        else
                        {
                            $('i').removeClass('fa-solid');
                            $('i').addClass('fa-regular');
                        }
                    },
                    error: function (response) {
                        if(response.status == 403)
                        {
                            alert(response.responseJSON.message);
                        }
                        else
                        {
                            alert("Une erreur est survenue, veuillez réessayer plus tard.");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
