{% extends "themes/base_admin.html.twig" %}

{% block title %}Le blog de Jean Dupont - Admin - Liste des utilisateurs{% endblock %} 

{% block description %}Le blog de Jean Dupont - Admin - Liste des utilissateurs{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready( function () {
            let table = $('#table').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
                },
                order: [[ 8, 'desc' ]]
            });
            } );
    </script>
{% endblock %}

{% block dataTables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet"> 
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des Utilisateurs</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
    {% endfor %}

    <div class="table-responsive">
        <table class="table table-stripped table-bordered table-hover" id="table">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Compte vérifié ?</th>
                    <th>Roles</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Date de vérification</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.isVerified ? 'Oui' : 'Pas encore'}}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if "ROLE_SUPER_ADMIN" == role %}
                                <span class="badge rounded-pill text-bg-primary">{{role}}</span>
                                {% elseif "ROLE_ADMIN" == role %}
                                <span class="badge rounded-pill text-bg-secondary">{{role}}</span>
                                {% elseif "ROLE_USER" == role %}
                                <span class="badge rounded-pill text-bg-dark">{{role}}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{user.createdAt|format_datetime(locale="fr")}}</td>
                        <td>{{user.updatedAt|format_datetime(locale="fr")}}</td>
                        <td>
                            {% if user.isVerified is not empty %}
                                <span>{{user.verifiedAt|format_datetime(locale="fr")}}</span>
                            {% else %}
                                <span>---</span>
                            {% endif %}
                            
                        </td>
                        <td>
                            {% if "ROLE_SUPER_ADMIN" not in user.roles %}
                            {% if user.isVerified %}
                            <a class="text-secondary m-2" title="Modifier rôle" href="{{path('admin.user.edit_roles',{'id':user.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% endif %}                           
                            <a onclick="event.preventDefault(); confirm('Confirmer la suppression du compte ?') && document.querySelector('#delete_user_{{user.id}}').submit() " class="text-danger m-2" title="Supprimer l'utilisateur" href=""><i class="fa-solid fa-trash-can"></i></a> 
                            <form action="{{path('admin.user.delete', {'id':user.id})}}" id="delete_user_{{user.id}}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="csrf_token" value="{{csrf_token('delete_user_'~user.id)}}">
                            </form>                          
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}