{% extends "themes/base_admin.html.twig" %}

{% block title %}Le blog de Jean Dupopnt - liste des contacts{% endblock %}

{% block description %}Le blog de Jean Dupont - Admin - Liste des contacts{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block dataTables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet"> 
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des contacts</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-danger alert-multiple-posts-delete text-center" role="alert">
        {{message}}
        </div>
    {% endfor %}

      <div style="display:none" class="alert alert-danger text-center" role="alert">
        </div>

    <div class="table-responsive">
        <table id="table" class="table table-stripped table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Message</th>
                    <th>Envoyé le </th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr id="tr-contact-{{contact.id}}">
                        <td>
                            <input type="checkbox" class="check-post" data-id="{{contact.id}}">
                        </td>
                        <td>{{contact.id}}</td>
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phone ?? '---' }}</td>
                        <td>
                            <a title="Lire le message" data-bs-toggle="modal" data-bs-target="#modal-{{contact.id}}" href="" class="text-dark"><i class="fa-solid fa-book-open-reader"></i></a>
                            <!-- Modal -->
                            <div class="modal fade" id="modal-{{contact.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Message de {{contact.firstName}} {{contact.lastName}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{contact.message|nl2br}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{contact.createdAt|format_datetime(locale='fr')}}</td>
                        <td>
                            <a onclick="event.preventDefault(); confirm('Confirmer la suppression de ce contact ?') && document.querySelector('#delete-contact-form-'+{{contact.id}}).submit(); " title="Supprimer" href="#" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
                            <form action="{{path('admin.contact.delete', {'id':contact.id})}}" method="POST" id="delete-contact-form-{{contact.id}}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="csrf_token" value="{{csrf_token('delete-contact-'~contact.id)}}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="my-4">
        <img src="{{asset('images/admin/arrow.png')}}" class="img-fluid mx-2" alt="Sélection multiple d'articles">
        <input type="checkbox" id="check-all-posts">
        <label class="cursor-pointer" for="check-all-posts">Tout cocher</label>
        <span data-token="{{csrf_token('multiple_delete_contacts_token_key')}}" id="multiple-delete-posts" class="mx-4 cursor-pointer"><i class="fa-solid fa-circle-minus mx-1 text-danger"></i>Tout supprimer</span>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            let table = $('#table').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
                },
                order: [[ 8, 'desc' ]]
            });

            $('#check-all-posts').on('click', function() {
                if ( $(this).is(':checked', true) ) 
                {
                    $('.check-post').prop('checked', true);
                }
                else
                {
                    $('.check-post').prop('checked', false);
                }
            });

            $('.check-post').on('click', function() {
                if ($('.check-post:checked').length == $('.check-post').length) 
                {
                    $('#check-all-posts').prop('checked' , true);
                }
                else
                {
                    $('#check-all-posts').prop('checked' , false);
                }
            });

            $('#multiple-delete-posts').on('click', function() {
                let ids = [];

                $('.check-post:checked').each(function () {
                    id = $(this).attr('data-id');
                    ids.push(id);
                });

                let token = $(this).attr('data-token');

                if (ids.length <= 0) 
                {
                    alert('Aucun contact n\a été sélectionné.');
                }
                else
                {
                    if(confirm('Confirmer la suppression multiple ?'))
                    {
                        let postsIds = ids.join(",");

                        $.ajax({
                            url: "{{path('admin.contact.multiple_delete')}}",
                            type: "DELETE",
                            dataType: "json",
                            data: {
                                "ids": postsIds,
                                "csrf_token": token
                            },
                            success: function (response) {
                                if(response.status == true) {
                                    $('.check-post:checked').each(function() {     
                                        let id = $(this).attr('data-id');                                   
                                        table.row('#tr-contact-'+id).remove().draw();
                                    });

                                    $('#check-all-posts').prop('checked', false);

                                    let button = "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>";
                                    let result = response.message + button;
                                    $('.alert-multiple-posts-delete').css('display', 'block');
                                    $('.alert-multiple-posts-delete').html(result);
                                }
                            },
                            error: function (response) {
                                alert(response.responseJSON.message);

                            }
                        });
                    }
                }
            });

        } );
    </script>
{% endblock %}