{% extends "themes/base_visitor.html.twig" %}

{% block titel %} - Le blog sur la santé - Formulaire de contact{% endblock %}

{% block fontAwesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}
    <main>
        {{ include('components/header_visitor.html.twig', {title: 'Contactez-moi'}) }}


        {# Formulaire #}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                    {{form_start(form)}}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="my-3">
                                    <label for="contact_form_firstName">Prénom </label>
                                    <div class="text-danger">
                                        {{ form_errors(form.firstName) }}
                                    </div>
                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-3">
                                    <label for="contact_form_lastName">Nom </label>
                                    <div class="text-danger">
                                        {{ form_errors(form.lastName) }}
                                    </div>
                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="my-3">
                                    <label for="contact_form_email">Email </label>
                                    <div class="text-danger">
                                        {{ form_errors(form.email) }}
                                    </div>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-3">
                                    <label for="contact_form_phone">Numéro de téléphone </label>
                                    <div class="text-danger">
                                        {{ form_errors(form.phone) }}
                                    </div>
                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                            <div class="mb-3">
                                <label for="">Message </label>
                                <div class="text-danger">
                                        {{ form_errors(form.message) }}
                                </div>
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows':'6'}}) }}
                            </div>
                            <div class="mb-3">
                                <input formnovalidate type="submit" class="btn btn-primary form-control" value="Envoyer">
                            </div>
                    {{form_end(form)}}
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <div>
                    
                        <p><i class="fa-solid fa-envelope"></i> : medecine-du-monde@gmail.com</p>
                        {% if setting.phone %}
                            <p><i class="fa-solid fa-phone"></i> : 06 05 05 05 05</p>
                        {% endif %}
                    </div>
                    <div class="container my-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.991629433562!2d2.2898678824342227!3d48.858370007973605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sTour%20Eiffel!5e0!3m2!1sfr!2sfr!4v1692863707789!5m2!1sfr!2sfr" class="w-100 h-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}