{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin- Modifier mon profil
{% endblock %}

{% block description %}Le blog de Jean Dupont - Admin - Modifier mon profil
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modification du profil</h1>

    <div class="container">
        <div class="col-md-6 mx-auto shadow p-4">
            {{form_start(form)}}
                <div class="mb-3">
                    <label for="">Prénom</label>
                    <div class="text-danger">{{form_errors(form.firstName)}}</div>
                    {{form_widget(form.firstName, {'attr' : {'class': 'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="">Nom</label>
                    <div class="text-danger">{{form_errors(form.lastName)}}</div>
                    {{form_widget(form.lastName, {'attr' : {'class': 'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="">Email</label>
                    <div class="text-danger">{{form_errors(form.email)}}</div>
                    {{form_widget(form.email, {'attr' : {'class': 'form-control'}})}}
                </div>
                <div class="mb-3">
                    <input formnovalidate type="submit" class="btn btn-primary" value="Modifier">
                </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}