<!DOCTYPE html>
<html lang="fr">
    <head>
        {# Encodage standars des caractères du web #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jean Dupont{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


        {# Favicon #}
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('assets/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff"> 

        {# Font family #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lugrasimo&family=Pacifico&family=Poppins&display=swap" rel="stylesheet">

        {# font-awesome #}
        {% block fontAwesome %}{% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        {# My stylesheet #}
        {# <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}"> #}


    </head>
    <body class="jd-body-visitor">

        {# Navbar #}
        {% include "layouts/navbar/navbar_visitor.html.twig" %}


        {# The specific content for each page #}
        {% block main %}{% endblock %}

        {# Footer #}
        {% include "layouts/footer/footer_visitor.html.twig" %}
    </body>
</html>


