{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Le blog sur la santé{% endblock %}

{% block main %}
    <main>    
        <header>
            <div class="container mt-5 text-center">
                <div class="row">
                    <div class="col-md-5 order-md-2 my-2">
                        <img data-aos="flip-right" src="{{asset('images/visitor/welcome/hero/hero.png')}}" class="img-fluid" alt="Photo de présentation de Jean Dupont">
                    </div>
                    <div class="col-md-7 order-md-1 my-2 d-flex flex-column justify-content-evenly align-content-center ">
                        <div data-aos="fade-right">
                            <h1>Bienvenue sur mon blog</h1>
                        </div>
                        <div>
                            <p>Je m'appelle Jean Dupont.</p>
                            <p>Permettez-moi de vous faire découvrir les clés d'une vie saine et épanouissante.</p>
                        </div>
                        <div>
                            <a class="btn btn-lg btn-primary" href="{{path('visitor.blog.index')}}">Lire les articles</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="about-me" class="my-3 py-3 bg-light">
            <h2 data-aos="fade-up-right" class="text-center my-3 display-5">Qui suis-je</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <img src="{{asset('images/visitor/welcome/about_me/about_me.png')}}" class="img-fluid" alt="Présentation de Jean Dupont">
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-evenly align-items-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati impedit nesciunt rerum ab consequuntur laborum dignissimos quidem delectus! Nihil quasi ab enim voluptates quae, laboriosam blanditiis sequi saepe, debitis consectetur a inventore. Odit id quidem nihil dicta eius veritatis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, facilis. Quod totam accusantium minima suscipit voluptas, doloremque et illo quisquam beatae quae eos at, similique exercitationem! Fuga nostrum et excepturi? Fugiat perferendis</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, facilis. Quod totam accusantium minima suscipit voluptas, doloremque et illo quisquam beatae quae eos at, similique exercitationem! Fuga nostrum et excepturi? Fugiat perferendis</p>
                    </div>
                </div>
            </div>
        </section>

        {% if posts is not empty %}
            <section id="last-posts" class="my-3 py-3">
                <h1 data-aos="fade-up-left" class="text-center my-3 display-5">Mes derniers articles</h1>

                <div class="container mt-5">
                    <div class="card-group">
                        {% for post in posts %}
                            <div class="card mx-3 border shadow">
                                <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.content|striptags|u.truncate(70, '...')|raw}}</p>
                                <p><a href="#" class="btn btn-sm btn-primary">Lire cet article</a></p>
                                <p class="card-text"><small class="text-body-secondary">Publié {{post.publishedAt|ago}}</small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        
        <section class="my-3 py-5 bg-light text-center">
            <a data-aos="flip-up" href="#" class="btn btn-lg btn-primary">Contactez-moi</a>
        </section>

    </main>
{% endblock %}