<!DOCTYPE html>
<html>
	<head>
		{# Encodage standards des caractères du web #}
		<meta
		charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{# Le titre de la page #}
		<title>Jean Dupont - Inscription</title>

		{# Favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
		<link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg" color="#5bbad5') }}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta
		name="theme-color" content="#ffffff">

		{# Font family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{# My stylesheet #}
		{# <link rel="stylesheet" href="{{ asset('styles/app.css') }}"> #}

	</head>
	<body class="h-100">



		<div class="container mt-5">
			<div class="row">
				<div class="col-lg-6 d-flex justify-content-center align-items-center">
					<img data-aos="flip-left" src="{{ asset('images/visitor/registration/Inscrivez-vous-pour-lire-des-articles-sur-la-sante.png') }}" class="img-fluid" alt="Inscrivez vous pour lire des articles sur la santé">
				</div>
				<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">

                    {% for flash_error in app.flashes('verify_email_error') %}
			            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		            {% endfor %}
                    
					{{ form_start(registrationForm) }}
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label for="registration_form_firstName">Prénom</label>
								<div class="text-danger">{{ form_errors(registrationForm.firstName)}}</div>
								{{ form_widget(registrationForm.firstName, {'attr' : {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="registration_form_lastName">Nom</label>
                                <div class="text-danger">{{ form_errors(registrationForm.lastName)}}</div>
								{{ form_widget(registrationForm.lastName, {'attr' : {'class': 'form-control'}}) }}
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label for="registration_form_email">Email</label>
                        <div class="text-danger">{{ form_errors(registrationForm.email)}}</div>
						{{ form_widget(registrationForm.email, {'attr' : {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						<label for="registration_form_password_first">Mot de passe</label>
                        <div class="text-danger">{{ form_errors(registrationForm.password.first)}}</div>
						{{ form_widget(registrationForm.password.first, {'attr' : {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						<label for="registration_form_password_second">Confirmation du mot de passe</label>
                        <div class="text-danger">{{ form_errors(registrationForm.password.second)}}</div>
						{{ form_widget(registrationForm.password.second, {'attr' : {'class': 'form-control'}}) }}
					</div>
					<div class="mb-3">
						<label for="registration_form_agreeTerms">
							{{ form_widget(registrationForm.agreeTerms) }}
							Veuillez accepter
							<a data-bs-toggle="modal" data-bs-target="#registerModal" href="#">les conditions générales d'utilisation</a>

							<!-- Modal -->
							<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p>Qu'est-ce que le Lorem Ipsum?
                                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>

                                            <p>
                                            Pourquoi l'utiliser?
                                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>
						</label>
					</div>
					<div class="mb-3">
						<input type="submit" class="btn btn-primary w-100 shadow">
					</div>
					{{ form_end(registrationForm) }}

					<p class="my-1">Vous avez déjà un compte ?
						<a href="{{ path('visitor.authentication.login') }}">Connectez-vous</a>
					</p>
					<p class="my-1">
						<a href="{{path('visitor.welcome.index')}}">Retour à l'accueil</a>
					</p>
				</div>
			</div>


		</div>

	</body>
</html>

